.logo{font-family: ralwey;
font-style: 700;}
.link{font-family:roboto}
.back{font-size:500}
.contact{font-size: 400;}
.link .button {text-decoration: underline blue;}
.button{background-color: blue;}
.title{font-family: Roboto;
font-weight: 900;
font-size:44px}
.body{font-family: Roboto;
color: black;}
